.results p {
  font-size: 1.25rem;
}

.results__wrapper {
  display: flex;
  margin-top: 1rem;
}

.results__emoji {
  color: white;
}

.results__text {
  width: 300px;
}

.results__emoji svg {
  margin-right: 0.75rem;
}

.results{
  background-color: #39034e;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  color: white;
  align-content: center;
  max-height: 100vh;
}