.bdiv {
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  margin: 0;
}
.centerb {
  background-color: rgba(0, 255, 255, 0.2);
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.centerb:hover {
  background-color: pink;
}
.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color:white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 10px;
  }
  .cent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }